<div class="highlighted-bg footer-padding">
    <div class="main-container">
        <div class="flex-footer-one">
            <div class="footer-logo">
                <a href="{{base_url}}">
                    <img src="assets/images/logo/footer-Logo.png" alt="">
                </a>
            </div>
            <div class="footer-links">
                <ul>
                    <li class="footer-font">
                        <a href="syncs-desk">
                            <span class="black-text medium_font_family">Sync's Desk</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="forte">
                            <span class="black-text medium_font_family">Forte</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="{{base_url}}">
                            <span class="black-text medium_font_family">Sync Assess</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="sync-space">
                            <span class="black-text medium_font_family">Sync Space</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="testimonial">
                            <span class="black-text medium_font_family">Testimonials</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="contact">
                            <span class="black-text medium_font_family">Contact Us</span>
                        </a>
                    </li>
                    <li class="footer-font">
                        <a href="javascript:void(0);">
                            <span class="black-text medium_font_family">Stack Up</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-footer-two">
            <div class="footer-font copyright-txt">
                <p class="black-text medium_font_family">
                    &copy; {{year}} Sync. All rights reserved
                </p>
            </div>
            <div class="footer-font powered-by">
                <p class="black-text medium_font_family">
                    Powered By : <a href="javascript:void(0);" class="black-text medium_font_family">CodeDecoders</a>
                </p>
            </div>
        </div>
    </div>
</div>