<div class="about-wrapper highlighted-bg">
    <!-- <section class="section-one-about relative wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.1s" id="
        section-one-about">
        <div class="banner-img-about relative parallax-css wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
        </div>
    </section> -->
    <!-- <section class=" section-two-about section-padding" id="section-two-about">
        <div class="main-container">

        </div>
    </section> -->
    <section class="section-two-about section-padding black-bg relative" id="section-two-about">
        <div class="main-container">
            <div class="inner-flex flex-gap-big">
                <div class="text-align-center title-font">
                    <h2 class=" bold_font_family" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="100">
                        Sync's <span class=" bold_font_family">Desk</span>
                    </h2>
                </div>
                <div class="grid-sect2-about">
                    <div>
                        <ul class="inner-flex flex-gap-small">
                            <li class="content-font-size">
                                <h3 class=" baskerVille_font_family" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    As the world economy starts to emerge from the Covid-19 crisis the time will soon
                                    come
                                    for
                                    the leaders to look beyond safeguarding lives and livelihoods; to set their sights
                                    on a
                                    more
                                    profound challenge : better them. This global challenge might be ten times as big as
                                    the
                                    pandemic and last ten times as long.
                                </h3>
                            </li>
                            <li class="content-font-size">
                                <h3 class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    The three goals we have in mind - growth, sustainability and inclusion - And so
                                    while
                                    many
                                    might broadly agree on the aspiration there is a very tough question lurking in the
                                    background :
                                </h3>
                            </li>
                            <li class="content-font-size">
                                <h3 class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    How do we go about building a future that delivers growth and sustainability and
                                    inclusion…?
                                </h3>
                            </li>
                            <li class="content-font-size">
                                <p class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    Full disclosure : we are not going to offer an answer. Instead , we propose a way
                                    for
                                    change
                                    makers
                                    in businesses, governance and societal spheres to delve into the problem, a
                                    cognitive
                                    model
                                    that
                                    might offer a best chance to reach the answer : It starts with this :The three
                                    elements
                                    are
                                    deeply
                                    connected and cannot be viewed as trade-offs.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="inner-flex flex-gap-small margin-top-40-abt" >
                            <li class="content-font-size">
                                <p class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    Indeed , getting to and moving to a world where in growth , sustainability and
                                    inclusion
                                    form a
                                    powerful dynamic — being the imperative for the next era in business.
                                    Company' ability to soar above the projected economic growth hinges on the depth of
                                    its
                                    administrative insights and how well it translates those into effective
                                    implementations.
                                </p>
                            </li>
                            <li class="content-font-size">
                                <p class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    Digital technology has unclasped control over brand communication by creating a
                                    variety
                                    of
                                    mediatory options.
                                
                                    Big businesses face challenges of nationwide competition, including supply chain
                                    disruptions,
                                    regulatory changes , technological advancements , talent acquisition and retention ,
                                    sustainability
                                    concerns and adapting to a rapidly evolving market landscape.
                                
                                    To help manage this complexity we provide an expert guidance with a strategic
                                    advisory
                                    to
                                    individuals , businesses and institutions, in a follow up to enhance overall
                                    efficiency
                                    ,
                                    elevating
                                    the organisation of marketing channels and performances in operations and CSR.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="abt-banner-small-one" data-aos="flip-up" data-aos-duration="800"
                        data-aos-delay="400">

                        </div>
                        <div class="inner-flex flex-gap-medium">
                            <div class="content-font-size sect6-about-content">
                                <p class="" data-aos="fade-up" data-aos-duration="800"
                                    data-aos-delay="100">
                                    We assess current processes , identify realms on improvisations and recommend
                                    tailored
                                    solutions
                                    though a digital blueprint. This entails an advise on arbitration , operational work
                                    flow,
                                    business administration and technological integration as well. We here , facilitate
                                    the
                                    functioning by evaluating institutional workings in order to meet their revered
                                    objectives.
                                </p>
                            </div>
                            <div>
                                <div class="two-grids-cards-align">
                                    <div>
                                        <ul class="inner-flex flex-gap-big-samll sect6-ul">
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Forecasting mechanisms on merchandise , reduction in producting costs and
                                                    propositions
                                                    on revenue generation is what we have in our perception.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Implementing project management methodologies for superior task work.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Proposing solutions to reach out to a profitable equilibrium at market
                                                    fluctuations.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Aiding in managing organisational transitions.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Developing communication strategies for change initiatives.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Identifying target audiences and defining key performance indicators
                                                    (KPI's).
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Advising the use of social media platforms to strengthen brand visibility
                                                    on
                                                    consumer
                                                    forums.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Enriching online Public Relations in campaigning and advertorials.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Providing guidelines on publicity budget allocation and targeting core
                                                    performance
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Instructing the content creation for community engagement.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Directing the application of tools for tracking the analytical digitised
                                                    market
                                                    conduct.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="right-ul-abt-img" data-aos="flip-left"data-aos-easing="ease-out-cubic"data-aos-duration="2000">

                                    </div>
                                    
                                    <div class="left-ul-abt-img" data-aos="flip-left"data-aos-easing="ease-out-cubic"data-aos-duration="2000">

                                    </div>
                                    <div>
                                        <ul class="inner-flex flex-gap-big-samll sect6-ul">
                                            
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800"
                                                data-aos-delay="100">
                                                <p class="">
                                                    Coaching the key metrics through lead generation AI and data
                                                    interpretation.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Providing cyber security recommendations to safeguard business data.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Ensuring compliance with data protection regulations in email communications.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Conduction of SEO (search engine optimisation) audits and counselling to improve organic search
                                                    rankings.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Ensuring compliance of arbitration ordinances according to the industry laws and environmental
                                                    regulatories.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Developing waste reduction in disposals and recycling programs.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Identifying schemes for enacting renewable resources, interweave green energy initiatives to CSR
                                                    programs.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Assessing and optimising the sustainability in supply chain , measuring the organisation’s
                                                    carbon footprint , collaborating with suppliers in resorting to eco friendly practises.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Assistance in human resources on talent acquisition , consumer retention and product life cycle
                                                    ( incubation , plateau ) as well as decline retrieval.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Evaluating existing operational processes to identify bottlenecks and mark the areas of cost
                                                    effectiveness in overruns and variables.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Recommending improvements to streamline work patterns and enhance the end output in micro, small
                                                    and large scale industries.
                                                </p>
                                            </li>
                                            <li class="content-font-size" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                                <p class="">
                                                    Assessing current technology infrastructure and offering guidance on labour management in
                                                    elements of work , hiring practises , planning capabilities and production reports.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>