<div class="forte-wrapper highlighted-bg">
    <!-- <section class="section-one-forte" id="section-one-forte">
        <div class="banner-img-forte relative parallax-css wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.1s">
        </div>
    </section> -->
    <section class="section-two-forte black-bg section-padding" id="section-two-forte">
        <div class="text-align-center title-font">
            <h2 class=" uppercase bold_font_family" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                digital <span class=" uppercase bold_font_family">illumination</span>
            </h2>
        </div>
    </section>
    <section class="section-three-forte" id="section-three-forte">
        <div class="full-container">
            <div class="grid-sect3-forte">
                <div class="grid-sect3 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect3-img-1.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Influential Brand<br>Communication
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect3 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect3-img-2.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Brand<br>Strategy
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Defining brand personality , creating visual assets , designing core transformations in
                                communication strategy to power growth. Identifying potential collaborations , fixing
                                and removing potential gaps in technology infrastructure.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect3 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect3-img-3.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Consumer<br>Insights
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect3 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect3-img-4.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Campaign<br>Lobbying
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-four-forte black-bg section-padding" id="section-four-forte">
        <div class="text-align-center title-font">
            <h2 class=" uppercase bold_font_family" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                Brand <span class=" uppercase bold_font_family">Activation</span>
            </h2>
        </div>
    </section>
    <section class="section-five-forte" id="section-five-forte">
        <div class="full-container">
            <div class="grid-sect5-forte">
                <div class="grid-sect5 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect5-img-1.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Business<br>Acceleration
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect5 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect5-img-2.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Marketing<br>Management
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Acumen in consumer behaviour and brand perception. Analysing brand's mix , designing
                                content creation. Drafting digital leadership and forming a built up of marketing return
                                on investments by AI tools. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect5 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect5-img-3.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Corporate Social<br>Responsiblity
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-sect5 relative" data-aos="fade-in" data-aos-duration="800" data-aos-delay="100">
                    <div class="grid-sect5-overlay"></div>
                    <img src="assets/images/forte/sect5-img-4.jpg" alt="">
                    <div class="inner-flex">
                        <div class="forte-icon">
                            <img src="assets/images/forte/touch.png" alt="">
                        </div>
                        <div class="subtitle-font-size">
                            <p class="bold_font_family">
                                Public<br>Relations
                            </p>
                        </div>
                        <div class="link-font">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac urna nec enim
                                iaculis ullamcorper ut id turpis. Etiam libero elit, tempus quis magna vel, interdum
                                iaculis justo. Vivamus quis est non erat eleifend sollicitudin nec et nisl.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>