<div class="home-wrapper highlighted-bg">
    <!-- <section class="section-one-home" id="section-one-home">
        <div class="banner-img relative parallax-css wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.1s">
            </div>
    </section> -->
    <!-- <section style="height: 15vh;"></section> -->
    <section class="section-two-landing sync-section-one section-padding-home" id="section-two-home">
        <div class="main-container">
            <div class="section-2-content">
                <div class="title-font">
                    <h1 class="uppercase  bold_font_family text-align-center" >
                        catalyst for <span class=" uppercase bold_font_family">growth</span>
                    </h1>
                </div>
                <div class="content-font-size">
                    <h3 class="bold_font_family ">
                        As the world economy starts to emerge from the Covid-19 crisis the time
                        will soon come for the leaders to look beyond safeguarding lives and
                        livelihoods ; to set their sights on a more profound challenge : better
                        them. This global challenge might be ten times as big as the pandemic
                        and last ten times as long.
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="section-three-home" id="section-three-home">
        <div class="sec-three-img parallax-css" data-aos="fade-in" data-aos-duration="800" data-aos-delay="0"      data-aos-anchor-placement="top-bottom">
            <!-- <img src="assets/images/landing-page/img-2.jpg" class="hide-tab-mobile" alt="">
        <img src="assets/images/landing-page/img-2-mob.jpg" class="visible-tab-mobile" alt=""> 
        </div>
    </section> -->
    <section class="section-four-landing section-padding" id="section-four-home">
        <div class="text-align-center title-font">
            <h2 class="title-blue-color bold_font_family" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                What To <span class="highlighted-text bold_font_family">Except...</span>
            </h2>
        </div>
    </section>
    <section class="section-five-home" id="section-five-home">
        <div class="relative title-font growth-div parallax-css" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
            <!-- <img src="assets/images/landing-page/growth.jpg" class="hide-tab" alt="">
        <img src="assets/images/landing-page/growth-mob.jpg" class="visible-tab" alt=""> -->
            <h2 class="left-txt-sect5 uppercase medium_font_family " data-aos="fade-top" data-aos-duration="800"
            data-aos-delay="0">Growth</h2>
        </div>
        <div class="relative title-font depth-div parallax-css" data-aos="flip-down" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
            <!-- <img src="assets/images/landing-page/depth.jpg" class="hide-tab" alt="">
        <img src="assets/images/landing-page/depth-mob.jpg" class="visible-tab" alt=""> -->
            <h2 class="right-txt-sect5 uppercase medium_font_family" data-aos="fade-top" data-aos-duration="800"
            data-aos-delay="0">Depth</h2>
        </div>
        <div class="relative title-font innovation-div parallax-css" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
            <div class="landing-banner-overlay"></div>
            <!-- <img src="assets/images/landing-page/innovation.jpg" class="hide-tab" alt="">
        <img src="assets/images/landing-page/innovation-mob.jpg" class="visible-tab" alt=""> -->
            <h2 class="left-txt-sect5 uppercase medium_font_family" data-aos="fade-top" data-aos-duration="800"
            data-aos-delay="0">Innovation</h2>
        </div>
    </section>
</div>